body {
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 700px;
    border: 3px solid rgb(37, 37, 37);
    border-radius: 10px;
    padding: 2px;
    background-color: rgb(255, 217, 223);
    box-shadow: inset 0 0 0.2em 4px rgb(150, 121, 121);
}

.display {
    text-align: right;
    padding: 25px;
    margin-bottom: 10px;
    border : 15px groove rgb(218, 218, 218);
    border-radius: 5px;
    background-color: rgb(202, 229, 155);
    box-shadow: 0 4px 0.3em rgb(90, 90, 90);
}

.numbers-container {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 10px auto;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.equal-clear {
    display: flex;
    flex-wrap: wrap;
}

.operators-container {
    display: flex;
    flex-wrap: wrap;
}

.operator {
    width: 75px;
    height: 75px;
}

.equal, .clear, .del {
    width: 100px;
    height: 75px;
}

.num, .floating-point {
    width: 100px;
    height: 100px;
}

.zero {
    flex: 1;
}

button {
    font-family: inherit;
    font-size: inherit;
    border-radius: 5px;
    border: 8px groove rgb(179, 202, 218);
    box-shadow: 3px 3px 0.2em rgb(104, 104, 104);
}